<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.merge.gateway.env</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/launchctl</string>
        <string>setenv</string>
        <string>MERGE_GATEWAY_API_KEY</string>
        <string>REPLACE_WITH_YOUR_MERGE_GATEWAY_KEY</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
